//$lgvMainYellow: #FFCC00;
//$lgvSecondYellow: #BB6600;
////47c6fa
//$mainColorOne: #28cdfb;
//$secondColor: #003869;
//$lgvMainGreen: #00cd00;
//$lgvSecondGreen: #00a500;

$ClearTwoColorOne: #FFE064;
$ClearOneColorOne: #FFD839;
$mainColorOne: #FFCD00;
$darkOneColorOne: #C69F00;
$DarkTwoColorOne: #9B7D00;

$ClearTwoColorTwo: #FFBD64;
$ClearOneColorTwo: #FFAA39;
$mainColorTwo: #FF9200;
$DarkOneColorTwo: #C67100;
$DarkTwoColorTwo: #9B5900;

$greyLight: #ADB3B4;
$greyMain: #838e91;
$greyDark: #65767B;


//$mainColorOne: #28ccfb;
//$secondColor: #01acdd;
//$thirdColor: #BCEF5B;
