#searchTabs {
  margin-bottom: 10px; }

#semapps-results-empty {
  text-align: center;
  background: none;
  border: none;
  box-shadow: none;
  color: #AAA;
  padding: 40px; }

.col-blocks .block {
  background: #9B7D00;
  color: #FFF;
  padding: 10px 15px;
  box-shadow: -8px 8px 0 rgba(0, 0, 0, 0.1);
  font-family: petitevoisine, sans-serif;
  text-align: center;
  transform: rotate(-4deg); }

.col-blocks .content {
  background: #ffffff;
  color: #000000;
  margin-top: 22px;
  padding: 10px 15px;
  border: 1px solid #DDD;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.1);
  font-family: petitevoisine, sans-serif;
  text-align: center; }

.col-blocks img.image {
  width: 90%;
  border: 1px solid #DDD;
  margin: 5%;
  box-shadow: 7px 7px 0 rgba(0, 0, 0, 0.1); }

.resultsTitle {
  font-family: petitevoisine, sans-serif; }

@media (max-width: 768px) {
  semapps-results-tab {
    float: left;
    display: block;
    clear: both;
    width: 100%; } }

#orgaGvFilter {
  display: none;
  padding: 5px;
  border: 2px dashed #949494; }

#isGV {
  margin-bottom: 15px;
  margin-left: 10px;
  position: relative;
  top: 2px;
  border-radius: 3px 3px 3px 3px; }

.list-separator {
  width: 100%;
  border-bottom: 1px dashed #949494;
  font-weight: bold;
  font-size: 15px;
  color: #55555a;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 55px; }
