#semapps-map {
  display: flex;
  flex-direction: column;
  margin-top: 60px; }

@keyframes mapZoneFadeIn {
  from {
    opacity: 0.5; }
  to {
    opacity: 0.8; } }

@keyframes mapZoneFadeInStrong {
  from {
    opacity: 0.5; }
  to {
    opacity: 0.8; } }

@keyframes mapZoneFadeOut {
  from {
    opacity: 0.8; }
  to {
    opacity: 0.5; } }
  #semapps-map .mapContent {
    position: relative; }
    #semapps-map .mapContent .mapZone {
      cursor: pointer;
      animation: mapZoneFadeIn 0.2s cubic-bezier(0.8, 0, 0.3, 0.9) forwards; }
    #semapps-map .mapContent .mapZone.strong {
      opacity: 0.4; }
    #semapps-map .mapContent .mapZone.discreet:not(.strong) {
      animation: mapZoneFadeOut 0.5s cubic-bezier(0.8, 0, 0.3, 0.9) forwards; }
    #semapps-map .mapContent .semapps-mapInner {
      border: 8px dashed #F0F0F0;
      transform: rotate(-1deg);
      max-width: 200vh;
      margin: 20px auto; }
  #semapps-map #semapps-map-black {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 4500;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center; }
  #semapps-map #semapps-map-message {
    display: inline-block;
    color: white; }

#semapps-map-pins {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

#hider_block {
  width: 50%;
  border-radius: 10px 10px 1px 1px;
  text-align: center;
  margin-top: 11px;
  background-color: #ffcd00;
  z-index: 2; }

#hider_block:hover {
  background-color: #ffd838;
  cursor: pointer; }

#hider_block.notshown {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px 3px 3px 3px; }

#hider_block.shown {
  transform: rotate(-1deg);
  position: relative;
  top: 19px; }

#hider_text {
  font-family: initial;
  font-size: 16px;
  font-weight: bold; }

@media (max-width: 768px) {
  #semapps-map .mapContent .semapps-mapInner {
    border: 0;
    transform: none;
    max-width: inherit;
    margin: 0; } }
