@import "./../../../common/css/color.scss";

#semapps-carto{
  display:flex;
  flex-direction:column;
}

#semapps-body{
  display:flex;
  margin-top:100px;
  flex-direction:column;
  
}

semapps-map-wrapper{
  width:80%;
  margin:0 auto;
  padding-right:5px;
}

#results{
  padding-left:5px;
  margin:0 auto;
  width:80%;
}

footer {
  letter-spacing: 5px;
  font-size: 16px;
  font-family: petitevoisine;
  .about-av {
    color: $greyDark;
    font-family: Helvetica;
    letter-spacing: normal;
    font-size: 18px;
    a {
      color: $mainColorOne;
    }
  }
}
